.beggining>div{
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.beggining img {
  width: 150px;
}

p.title{
  font-size: 1.8rem;
  padding: 0;
  margin: 0;
}
.beggining input{
  border: none;
  border-radius: 30px;
  outline: none;
  font-size: 19px;
  color: gray;
  box-shadow: -10px -10px 15px #3a3a3a17,
  10px 10px 15px #42424259;
  transition: .5s;
  height: 50px;
}