@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700;900&display=swap');

.cap:first-letter {
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
}
.imagefix{
  margin-top: -175px;
}