@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.card.encounter{
      padding: 20px;
      padding-left: 30px;
      font-size: 1.2rem;
      font-family: 'Roboto', sans-serif;
      position: relative;
}

.title-encounter{
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
      font-size: 1.3rem;
}

.card.encounter span{
      display: inline-block;
      height: 30px;
}

.card.encounter div div:nth-child(1){
      margin-bottom: 20px;
}

.card.encounter div div :nth-child(2){
      height: auto;
      margin-left: 15px;
}

.encounter .pokeball{
      background-position: 100%;
      top: 10px;
      right: 20px;
      height: 80%;
      width: 100px;
}

.encounter:hover{
      transform: scale(1);
}

.encounter:hover .pokeball{
      -webkit-animation: spin 1s linear infinite;
      -moz-animation: spin 1s linear infinite;
      animetion: spin 1s linear infinite;
}

@-webkit-keyframes spin{
      100%{-webkit-transform: rotate(360deg);}
}
@-moz-keyframes spin{
      100%{-webkit-transform: rotate(360deg);}
}
@keyframes spin{
      100%{-webkit-transform: rotate(360deg);}
}




