*{
  box-sizing: border-box;
  margin: 0;
}

.card{
  border-radius: 20px;
  color: white;
  padding: 10px;
  display: block;
  text-decoration: none;
  display: flex;
  text-align: left;
  height: 100%;
  transition: .3s;
  text-shadow: 0 0 1.4px black;
}
.card:hover{
  transform: scale(1.1);
  transition: .3s;
  color: white;
}

.text{
  padding-left: 10px;
  font-size: .9rem;
  width: 100%;
}

.pokeball{
  filter: brightness(200%);
  position: absolute;
  height: 50%;
  width: 200%;
  right: 0px;
  bottom: -10px;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100%;
  background-image: url('https://raw.githubusercontent.com/andreidem18/pokeapi/main/src/images/pokeball.png');
}


.card h3{
  text-align: center;
  margin-bottom: 10px;
  font-size: 1.3rem;
}

.card ul{
  list-style: none;
  padding: 0;
}

.card .img{
  width: 50%;
  display: flex;
  align-items: flex-end;
  position: relative;
}
.img img{
  position: absolute;
  width: 120%;
  right: 10px;
  z-index: 10;
}
.cloud{
  background: rgba(255,255,255,.2);
  margin-bottom: 3px;
  padding: 4px 10px;
  border-radius: 13px;
  display: inline-block;
}

@media(min-width: 400px){
  .card .text{
    font-size: 1rem;
  }
  .card h3{
    font-size: 1.7rem;
  }
  .cloud{
    margin-bottom: 5px;
  }
  .pokeball{
    bottom: -10px;
    height: 40%;
    width: 150%;
  }
}

@media(min-width: 576px){
  .card .text{
    font-size: .9rem;
  }
  .card h3{
    font-size: 1.3rem;
  }
  .card .img{
    width: 60%;
  }
  .cloud{
    margin-bottom: 3px;
  }
}
