.card-setting{
  box-shadow: 2px 2px 8px rgba(0,0,0,.4);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 50px;
}

.check-container.first input[type=checkbox]{
  background: greenyellow
}
.check-container.first input:checked[type="checkbox"]{
  background: #6c79db;
}

.card-setting select{
  text-align-last: center;
  font-size: 1.8rem;
}


h3.title{
  padding: 0;
  font-size: 1.9rem;
  font-weight: 500;
}

.back-button{
  background: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.back-button i{
  font-size: 2rem;
}



